[submodule "upstream/trawl"]
	path = upstream/trawl
	url = https://github.com/x3cca/trawl.git
	branch = codex/aws-waf-captcha-iteration
[submodule "upstream/bpc-uploads"]
	path = upstream/bpc-uploads
	url = https://gitflic.ru/project/magnolia1234/bpc_uploads.git
	branch = main
